
<!-- 相册功能 https://www.jianshu.com/p/7f6425b3ffb2 -->
<link rel="stylesheet" href="../lib/album/ins.css">
<link rel="stylesheet" href="../lib/album/photoswipe.css">
<link rel="stylesheet" href="../lib/album/default-skin/default-skin.css">
<div class="photos-btn-wrap" target="_blank">
  <a class="photos-btn active" href="../photos">相册列表</a>
  <a class="photos-btn active" href="javascript:void(0)">视频列表</a>
</div>


<center>
  指弹_Always with me
</center>
  <center>
    <div class="video-container">
      <iframe height="80%" width="80%" src="http://pnok0tdt2.bkt.clouddn.com/bangongshijieshao.mp4"
      	frameborder=0 allowfullscreen>
      </iframe>
    </div>
  </center>
  <hr/>
